<html>
  <head>
    {{> head}}
	</head>
	<body>
    {{> header}}
    <div class="container-fluid">
      <div class="rows" id="main">
        <div class="col-md-4 col-md-push-8">
          <form class="input-group input-group-lg" method="get" action="/news">
            <input type="text" name="key" {{#if key}}value="{{{key}}}"{{/if}} class="form-control" placeholder="搜尋...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </span>
          </form><!-- /input-group -->
          <div id="map">
            <h5>HOURS & INFO</h5>
            <div class="map-content">
              <p style="font-weight:bold">猛男咖啡 大成精品店</p>
              <iframe src="https://www.google.com/maps?q=猛男咖啡 大成精品店&output=embed" width="100%" height="250" frameborder="0" style="border:0"></iframe>
              <p>台南市南區大成路一段32號</p>
              <p>06 261 0686</p>
              <p>10:00 - 18:00 每週一店休</p>
            </div>
            <div class="map-content">
              <p style="font-weight:bold">猛男咖啡 2.0 安平店</p>
              <iframe src="https://www.google.com/maps?q=猛男咖啡2.0&output=embed" width="100%" height="250" frameborder="0" style="border:0"></iframe>
              <p>台南市安平區安平路42號</p>
              <p>06 280 1966</p>
              <p>星期日～四 09:00 - 20:00<br/>
              星期五、六 09:00 - 22:00</p>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-md-pull-4">
          {{#if key}}<h3 style="color:#be603d">"{{{key}}}" 的搜尋結果:</h3>{{/if}}
          {{#each resPost}}
          <div class="block">
            <div class="date">{{dateFormat}}</div>
            <h2 class="title">{{title}}</h2>
            <div class="content">{{{content}}}</div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    {{> footer }}
    <link rel="stylesheet" href="./css/news.css" >
    <script src="./js/common.js"></script>
    <script src="./js/slideImage.js"></script>
  </body>
</html>
