<html>
  <head>
    {{> head}}
    <link rel="stylesheet" href="./css/admin.css" >
	</head>
	<body>
    {{> header}}
    <div class="container-fluid">
      <div class="row block">
        <div class="col-md-2" style="text-align:center;" id="addButton"><i class="fa fa-plus-square-o" aria-hidden="true"></i></div>
        <div class="col-md-2" style="text-align:center;"><a href="/logout">登出</a></div>
        <div class="col-md-9" id="editor-panel"></div>
        <div class="col-md-10 content">
          <h1><input id="title-new" placeholder="標題" /></h1>
          <div id="editor-new"></div>
          <div class="editor-buttons">
            <button class="btn btn-default" id="newPost">新增文章</button>
            <button class="btn btn-default" id="clearNewPost">清除內容</button>
          </div>
        </div>
      </div> <!-- /.block -->
      {{#each resPost}}
      <div class="row block">
        <div class="col-md-1 dateFormat">{{dateFormat}}</div>
        <div class="col-md-3">{{title}}</div>
        <div class="col-md-6">{{{content}}}</div>
        <div class="col-md-1 caret-down"><i class="fa fa-caret-down fa-fw" aria-hidden="true"></i></div>
        <div class="col-md-10 content">
          <h1><input value="{{title}}" id="title-{{_id}}" placeholder="標題" /></h1>
          <div id="editor-content-{{_id}}">{{{content}}}</div>
          <div class="editor-buttons">
            <button class="btn btn-default" onClick="updateId('{{_id}}');">更新</button>
            <button class="btn btn-default" onClick="deleteId('{{_id}}');">刪除</button>
          </div>
        </div>
      </div> <!-- /.block -->
      {{/each}}
    </div>
    {{> footer}}
    <script src="./js/frame/nicEdit.js"></script>
    <script src="./js/admin.js"></script>
    <script>
bkLib.onDomLoaded(function() {
  var params = {
    iconsPath: '/images/nicEditorIcons.gif',
    uploadURI: '/admin/upload',
    buttonList : [
      'bold','italic','underline','strikethrough',
      'left','center','right','justify',
      'ol', 'ul',
      'indent', 'outdent',
      'forecolor', 'bgcolor',
      'subscript','superscript',
      'removeformat', 'hr',
      'image', 'upload',
      'link', 'unlink',
      'fontSize', 'fontFormat'
    ]
  };
  var editors = new nicEditor(params);
  editors.setPanel('editor-panel');
  {{#each resPost}}editors.addInstance('editor-content-{{_id}}');{{/each}}
  editors.addEvent('focus', function() {
    document.querySelector("#editor-panel").style.display = "block";
  });
  editors.addEvent('blur', function() {
    document.querySelector("#editor-panel").style.display = "";
  });
  
  editorNew = new nicEditor(params).panelInstance('editor-new');
});
    </script>
  </body>
</html>
